# Rust / Cargo
/target/
/admin-server/target/
/agent-app/src-tauri/target/
**/*.rs.bk

# Node / NPM
/node_modules/
/agent-app/node_modules/
npm-debug.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Laravel (Standard)
/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/app/public/
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/
.env
.env.backup
.phpunit.result.cache
