# Logs
*.log

# OS / IDE
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.zed
/.nova

# Environment
.env*
!.env.example
/auth.json

# PHP
/vendor
/.phpunit.cache
.phpunit.result.cache
.phpactor.json

# Node
/node_modules

# Vite (important)
/public/hot

# Public user uploads
/public/storage
/public/uploads

# Storage
/storage/*.key
/storage/app/public

# Homestead
Homestead.json
Homestead.yaml
